.about {
  margin-top: 70px;
  padding: 40px 0;
  width: 100%;
  background: $bgArticleColor;
  height: 500px;
  &_block {
    @include dFlexDirect();
    width: $baseWidth;
    margin: 0 auto;
    padding: 20px 40px;
    @media screen and (max-width: 1170px) {
      width: 100%;
      padding: 0;
      flex-direction: column;
      & img {
        padding: 0;
      }
    }
  }
  & img {
    margin-right: 25px;
  }
  & .about_block-content {
    padding: 50px;
    background: $bgColor;
    & h2 {
      font-weight: 400;
    }
    & h5 {
      font-weight: 300;
      color: $base;
    }
    & p {
      font-weight: 300;
      color: $base;
      margin-bottom: 35px;
    }
  }
}