.appointment{
  width: $baseWidth;
  padding: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  @include dFlexDirect();
  & .wrapper{
    height: fit-content;
    position: unset;
    flex: 2 0 auto;
    padding: 0 20px;
    & .appointment_block{
      padding: 8px 0;
      margin-bottom: 7px;
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      background-color: $bgArticleColor;
      & *{
        pointer-events: none;
      }
      &-time {
        font-size: 18px;
        font-weight: 400;
      }
      &-info {
        padding-left: 30px;
      }
      &-add {
        text-align: right;
        flex-grow: 0.5;
      }
      & img {
        padding: 0 10px;
        width: 25px;
        align-self: center;
      }
      &:hover {
        transition: $transition;
        background-color: $default;
        color: $bgColor;
      }
      & p {
        margin: 0;
        align-self: center;
      }
      width: 100%;
      @include dFlexDirect();
    }

  }
  &_calendar {
    flex: 1 0 10vw;
  }
}