.service{
  padding-bottom: 50px;
  @extend .baseBlocks;
  &_block{
    @extend .oneBlock;
    @media screen and (max-width: 650px){
      flex: 12 3 auto;
      padding: 0 25px;
    }
    @media screen and (min-width: 650px) and (max-width: 870px){
      padding-right: 25px;
    }
    &-img{
      width: 55px;
    }
    &-header{
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 0;
    }
    &-description{
      color: $base;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      margin: 10px 0 20px 0;
    }
    &-price{
      @extend .pressToTheBottom;
      @media screen and (max-width: 650px){
        margin-top: 20px;
        flex: 12 3 auto;
      }
      font-weight: 500;
      font-size: 24px;
      color: $default;
    }
  }
}