.testimonial{
  padding: 0 0 20px 0;
  @extend .baseBlocks;
  & .testimonial_block{
    @extend .oneBlock;
    &-content {
      font-style: italic;
      font-size: 21px;
      line-height: 32px;
      color: #333333;
      &:before {
        @include quotes();
      }
      &:after {
        @include quotes();
      }
    }
    &-name {
      @extend .pressToTheBottom;
      color: $heading;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &-meta {
      color: $default;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}