.testimonial{
  @extend .service;
  padding: 0 0 20px 0;
  & .testimonial_block{
    @extend .service_block;
    &-content {
      color: $base;
      font-style: italic;
      &:before {
        @include quotes();
      }
      &:after {
        @include quotes();
      }
    }
    &-name {
      @extend .service_block-price;
      color: $heading;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-meta {
      color: $default;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}