<div class="wrapper">
    <nav class="header_nav">
        <div class="container">
            <div class="header_nav-logo">
                logo
            </div>
            <div class="header_menu">
                <div class="header_menu-element">
                    <a href="index.html">Главная</a>
                </div>
                <div class="header_menu-element">
                    <a href="onlineAppointment.html">Запись</a>
                </div>
                <div class="header_menu-element">
                    <a href="serviceSingle.html">Виды услуг</a>
                </div>
                <div class="header_menu-element">
                    <a href="#">О сайте</a>
                </div>
                <div class="header_menu-element">
                    <a href="#">Контакты</a>
                </div>
            </div>
        </div>
    </nav>
</div>