<section class="header_slider" id="header_slider">
    <div class="header_slider-wrapper">
        <img src="img/slideShow/1452279902-gettyimages-145083553-copy.jpg">
    </div>
    <div class="header_slider-wrapper">
        <img src="img/slideShow/hero-img.jpg">
    </div>
    <div class="header_slider-wrapper">
        <img src="img/slideShow/maxresdefault.jpg">
    </div>
    <div class="header_slider-wrapper">
        <img src="img/slideShow/maxresdefault-19-1021x580.jpg">
    </div>
</section>