<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>
<body>

<div class="container">
    <header>
        //= header/header_menu.html
        //= header/header_slider.html
    </header>
    <main>
        //= main/main_header.html
        <section class="service">
            //= main/service_block.html
            //= main/service_block.html
            //= main/service_block.html
        </section>
            //= buttons/btn_default.html
        <section class="about">
            //= main/about_block.html
        </section>
        //= main/testimonial_header.html
        <section class="testimonial">
            //= main/testimonial_block.html
            //= main/testimonial_block.html
            //= main/testimonial_block.html
        </section>

    </main>
    <footer>

    </footer>
</div>
</body>
</html>