.button_default{
  text-decoration: none;
  background: $btnPrim;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 0 auto;
  font-weight: 500;
  color: $bgColor;
  border: 1px solid $default;
  display: inline-block;
  &:hover{
    background: $default;
    transition: $transition;
  }
}