<div class="appointment">
    <div class="wrapper">
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
        <div class="appointment_block">
            <p class="appointment_block-time">
                9-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Book Appointment
            </span>
        </div>
    </div>
    <div class="appointment_calendar">
        <div class="calendar" id="calendar">
            <div class="calendar_month">
                <span id="prevMonth"><<<<</span>
                <div><p id="month">September</p><span id="yearBlock">1995</span></div>
                <span id="nextMonth">>>>></span>
            </div>
            <div class="calendar_wrapper">
                <div class="calendar_wrapper-week">
                    <div class="week_day">Mon</div>
                    <div class="week_day">Tue</div>
                    <div class="week_day">Wed</div>
                    <div class="week_day">Thu</div>
                    <div class="week_day">Fri</div>
                    <div class="week_day">Sut</div>
                    <div class="week_day">Sun</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
            </div>

        </div>
    </div>
</div>