<div class="appointment">
    <div id="appointment-list" class="wrapper">
        <div class="appointment_block" data-timeId="1" data-time="10-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
               10-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="2" data-time="11-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
                11-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="3" data-time="12-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
                12-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="4" data-time="13-00"  data-date="">
            <img src="img/icons/note/note_book_lock.svg">
            <p class="appointment_block-time">
                13-00
            </p>
            <p class="appointment_block-info">
                Занято
            </p>
        </div>
        <div class="appointment_block" data-timeId="5" data-time="14-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
                14-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="6" data-time="15-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
                15-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="7" data-time="16-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">
            <p class="appointment_block-time">
                16-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="8" data-time="17-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">

            <p class="appointment_block-time">
                17-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
        <div class="appointment_block" data-timeId="9" data-time="18-00"  data-date="">
            <img src="img/icons/note/note_book_add.svg">

            <p class="appointment_block-time">
                18-00
            </p>
            <p class="appointment_block-info">
                Свободное время
            </p>
            <span class="appointment_block-add">
                Добавить запись
            </span>
        </div>
    </div>
    <div class="appointment_calendar">
        <div class="calendar" id="calendar">
            <div class="calendar_month">
                <span id="prevMonth"><<<<</span>
                <div><p id="month">September</p><span id="yearBlock">1995</span></div>
                <span id="nextMonth">>>>></span>
            </div>
            <div class="calendar_wrapper">
                <div class="calendar_wrapper-week">
                    <div class="week_day">Mon</div>
                    <div class="week_day">Tue</div>
                    <div class="week_day">Wed</div>
                    <div class="week_day">Thu</div>
                    <div class="week_day">Fri</div>
                    <div class="week_day">Sut</div>
                    <div class="week_day">Sun</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
                <div class="calendar_wrapper-week">
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                </div>
            </div>

            <script src="js/calendar.js"></script>
        </div>
    </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Добавить запись</h2>
                <p>Дата: <span id="modalDate">21-11-2020</span></p>
                <p>Время: <span id="modalTiming"></span></p>

                <form action="" class="modal_form">
                    <input type="hidden" name="timeId" id="timeId" value="">
                    <div class="modal_form-input">
                        <label for="nameField">Имя:</label>
                        <input id="nameField" type="text">
                    </div>
                    <div class="modal_form-input">
                        <label for="phoneField">Телефон:</label>
                        <input id="phoneField" type="text">
                    </div>
                    <div class="modal_form-input">
                        <select name="service" class="select">
                            <option value="" selected="">Что делаем?</option>
                            <option value="1">Стрижка</option>
                            <option value="2">Стрижка челки</option>
                            <option value="3">Стрижка (Два человека)</option>
                            <option value="4">Окрашивание в 1 тон</option>
                        </select>
                    </div>

                    <div class="modal_form-input">
                        <select name="service" class="select">
                            <option value="" selected="">Дополнительно</option>
                            <option value="1">Стрижка</option>
                            <option value="2">Стрижка челки</option>
                            <option value="3">Стрижка (Два человека)</option>
                            <option value="4">Окрашивание в 1 тон</option>
                        </select>
                    </div>

                    <div class="centerLink"><button type="button" class="button_default">Добавить</button></div>
                </form>
            </div>

        </div>

</div>