.header_slider {
  height: 530px;
  background:
          linear-gradient(rgba(36, 39, 38, 0.5),
          rgba(36, 39, 38, 0.5)),
          rgba(36, 39, 38, 0.5) url(../img/hero-img.jpg) no-repeat center;
  background-size: cover;
}