.header_slider {
  max-height: 530px;
  overflow: hidden;
  background:
          linear-gradient(rgba(36, 39, 38, 0.5),
          rgba(36, 39, 38, 0.5)),
          rgba(36, 39, 38, 0.5);
  &-wrapper {
    & img {
      height: auto;
      max-width: 100%;
      display: none;
    }
  }
  &-wrapper:first-of-type img{
    display: block;
  }
}