.baseBlocks {
  width: 100%;
  margin: 0 auto;
  @include dFlexDirect();
  @media screen and (min-width: 500px) and (max-width: 750px) {
    flex-direction: column;
  }
  @media screen and (min-width: $baseWidth) {
    width: $baseWidth;
  }
}

.oneBlock {
  padding-right: 60px;
  @include dFlexDirect('column');
  flex: 12 3 33em;
}

.pressToTheBottom {
  margin-top: auto;
  margin-bottom: 5px;
}