body {
  font-family: Roboto-Light;
  background: $bgColor;
}

h1, h2, h3, h4, h5 {
  color: $heading;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}