/*var colors*/
$default: #aa9144;
$primary: #18150D;
$heading: #18150D;
$base: #5D5C59;
$bgColor: #EFFEF7;
$bgArticleColor: #f4f1ec;
$btnPrim: #8b723e;
$footerBg: #1e1c18;
$footerContentBg: #282725;
$footerTextColor: #747474;
$inputSubsColor: #393836;
/*end colors*/
//$baseWidth: 1px;
//#D41B2C
//@media screen and (max-width: 1170px) {
  //$baseWidth: 500px;
//}

//@media screen and (min-width: 1169px) {
  $baseWidth: 1170px;
//}

$transition: 0.4s;