/*var colors*/
$default: #8e7424;
$primary: #18150D;
$heading: #18150D;
$base: #5D5C59;
$bgColor: #EFFEF7;
$bgAboutColor: #f4f1ec;
$btnPrim: #aa9144;
/*end colors*/
$baseWidth: 1170px;

$transition: 0.4s;