/*var colors*/
$default: #8e7424;
$primary: #18150D;
$heading: #18150D;
$base: #5D5C59;
$bgColor: #EFFEF7;
$bgArticleColor: #f4f1ec;
$btnPrim: #aa9144;
$footerBg: #1e1c18;
$footerContentBg: #282725;
$footerTextColor: #747474;
/*end colors*/
$baseWidth: 1170px;
$transition: 0.4s;