.calendar {
  height: fit-content;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 8px 0px 11px -3px rgba(171,171,171,1);
  &_month {
    & #prevMonth, #nextMonth {
      cursor: pointer;
      &:hover {
        color: rgb(58, 196, 53);
      }
    }
    & div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      & p {
       margin-right: 10px;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  &_wrapper{
    &-week:first-of-type {
      background-color: #c3c3c3;
    }
    &-week {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & .day, .week_day {
        padding: 10px 0;
        margin: 5px 0;
        text-align: center;
        width: calc(100% / 7);
        &:nth-child(6), &:nth-child(7) {
          color: #800000;
        }
      }
      & .day {
        font-weight: 600;
        font-size: 16px;
      }

    }
  }
}